@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

* {
  @apply font-inter;
}

.container {
  @apply max-w-7xl mx-auto;
}

.menu__item {
  @apply text-lg text-text px-4 py-3 font-semibold duration-300 transition-all hover:text-primary;
}

.active__item {
  @apply text-primary font-bold;
}

.breadcrumb::after {
  content: "";
  width: 210px;
  height: 210px;
  display: inline-block;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: #fff;
  transform: rotate(0deg);
}
